<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3.3.2"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/lumen/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"  />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css " rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
        <style>
            .row {
                margin-bottom: 3px;
            }
            .form-control:disabled {
                background-color: white;
            }
            body {
                background-color: #f4e3ff;
            }
            /* .big-title {
                font-family: 'Verdana';
            }
            .main-title {
                font-family: 'Century Gothic';
            }
            .sub-title {
                font-family: 'Lucida Sans';
            } */
        </style>
    </head>
    <body>
        <div id="mainApp" class="container-fluid p-5">
            <div class="container-fluid">
                <br/>
                <!-- Reviewer Data -->
                <div class="row">
                    <div class="col-12 text-left">
                        <div class="container-fluid">
                            <div class="align-items-center" style="display: flex">
                                <i class="bi bi-info-circle pb-2 fa-lg me-2"></i>
                                <h3 class="ml-3 big-title"><b>Member Info:</b></h3>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Member Code:</h5>
                                            <input class="form-control" type="text" :placeholder="customerData.memberCode" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{this.customerData.memberCode}}</h6> -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Name:</h5>
                                            <input class="form-control" type="text" :placeholder="customerData.memberName" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{this.customerData.memberName}}</h6> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Email Address:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.ordEmail" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{this.customerData.ordEmail}}</h6> -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Contact No.:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.ordTelNo" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{this.customerData.ordTellNo}}</h6> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <spacing></spacing>

                <!-- Delivery Data -->
                <div class="row">
                    <div class="col-12 text-left">
                        <div class="container-fluid">
                            <div class="align-items-center" style="display: flex">
                                <i class="bi bi-box-seam pb-2 fa-lg me-2"></i>
                                <h3 class="ml-3 big-title"><b>Delivery Info:</b></h3>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Delivery Name:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.delName" style="opacity: 1.0" disabled>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Delivery Contact No.:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.delTel" style="opacity: 1.0" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-left">
                                            <h5 class="main-title">Delivery Address:</h5>
                                            <input class="form-control mb-2 sub-title" type="text" :placeholder="deliveryAddress" disabled style="opacity: 1;">
                                            <input class="form-control sub-title" v-if="customerData.deliveryType != 2" :placeholder="deliveryAddressCont" type="text" disabled style="opacity: 1;">
                                        </div>
                                    </div>
                                    <div class="row" v-if="customerData.deliveryType != 2">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Delivery State:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.delStateName" style="opacity: 1.0" disabled>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Delivery City:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.delCityName" style="opacity: 1.0" disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-1" v-if="customerData.deliveryType != 2">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Delivery Post Code:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.delPostCodeCode" style="opacity: 1.0" disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3"  v-if="customerData.deliveryType != 2">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Courier Company:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.courierCompany" style="opacity: 1.0" disabled>
                                        </div>
                                        <!-- <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Courier ID:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerData.courierId" style="opacity: 1.0" disabled>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <spacing></spacing>

                <!-- Reviewer Data -->
                <div class="row">
                    <div class="col-12 text-left">
                        <div class="container-fluid">
                            <div class="align-items-center" style="display: flex">
                                <i class="bi bi-pen pb-2 fa-lg me-2"></i>
                                <h3 class="ml-3 big-title"><b>Review Info:</b></h3>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Review Date:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="formattedDate" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{formattedDate}}</h6> -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">State:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerState" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{customerState}}</h6> -->
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Age Range:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerAge" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{customerAge}}</h6> -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-left">
                                            <h5 class="main-title">Gender:</h5>
                                            <input class="form-control sub-title" type="text" :placeholder="customerGender" style="opacity: 1.0" disabled>
                                            <!-- <h6>{{customerGender}}</h6> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <spacing></spacing>

                

                <!-- Picture Section -->
                <div class="container-fluid">
                    <div class="align-items-center" style="display: flex">
                        <i class="bi bi-file-earmark-image pb-2 fa-lg me-2"></i>
                        <h3 class="ml-3 big-title"><b>Attached Pictures:</b></h3>
                    </div>
                    <div class="row">
                        <!-- Before-picture -->
                        <div class="col-12 col-md-5 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title main-title">Sample picture <b>BEFORE</b> applying product:</h4>
                                    <img :src="customerData.img1" style="width:200px; height:200px" class="align-items-center" alt="No picture submitted">
                                </div>
                            </div>
                        </div>
                        <!-- Before-picture -->
                        <div class="col-12 col-md-5 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title main-title0">7 days <b>AFTER</b> applying product:</h4>
                                    <img :src="customerData.img2" style="width:200px; height:200px" alt="No picture submitted">
                                </div>
                            </div>
                        </div>
                        <!-- Empty filler space-->
                        <div class="col-2"></div>
                    </div>
                </div>
                <spacing></spacing>

                <!-- Accordion for the Survey Response -->
                <div class="container-fluid">
                    <div class="align-items-center" style="display: flex">
                        <i class="bi bi-journals pb-2 fa-lg me-2"></i>
                        <h3 class="ml-3 big-title"><b>Detailed Responses:</b></h3>
                    </div>
                </div>
                <div class="accordion" id="answerAccordion">
                    <!-- Section A Questions -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="sectionAHeader">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" aria-expanded="true" aria-controls="collapseA">
                                <!-- Section A Response -->
                                Section A Response
                            </button>
                        </h3>
                        <div id="collapseA" class="accordion-collapse collapse" aria-labelledby="sectionAHeader" data-bs-parent="#answerAccordion">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <h5 class="big-title"><b>Customer Skin Type:</b> ( {{customerSkinType}} )</h5>
                                        <h5 class="main-title">List of reactions: </h5>
                                        <div class="col text-left">
                                            <ul style="list-style-type:none;">
                                                <li v-for="(response, idex) in customerData.qaSet">
                                                    <section-a-line :index="idex" :ans="response"></section-a-line>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section B Questions -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="sectionBHeader">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
                                Section B Response
                            </button>
                        </h3>
                        <div id="collapseB" class="accordion-collapse collapse" aria-labelledby="sectionBHeader" data-bs-parent="#answerAccordion">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-left">
                                            <ul style="list-style-type:none;">
                                                <li v-for="(ans, idex) in customerData.qbSet">
                                                    <!-- <sectionB-line :dataSet="customerData.qaSet[idex]" :index="(idex + 1)" :response="customerData.qaSet[idex]"></sectionB-line> -->
                                                    <section-b-line :sequence="idex" :answer="ans"></section-b-line>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Manual review -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="sectionCHeader">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
                                Product Review
                            </button>
                        </h3>
                        <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="sectionCHeader" data-bs-parent="#answerAccordion">
                            <div class="accordion-body">
                                <h6 class="sub-title" style="word-wrap: break-word">{{customerData.review}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Additional Benefits Response -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="sectionDHeader">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseD" aria-expanded="false" aria-controls="collapseD">
                                Additional Benefits Record
                            </button>
                        </h3>
                        <div id="collapseD" class="accordion-collapse collapse" aria-labelledby="sectionDHeader" data-bs-parent="#answerAccordion">
                            <div class="accordion-body">
                                <h5 class="main-title"><u>Did the product provide any additional benefits other than the mentioned benefits?</u></h5>
                                <h6 class="sub-title" style="word-wrap: break-word">{{customerData.comment1}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Misc Comments -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="sectionEHeader">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
                                Miscellaneous Comments
                            </button>
                        </h3>
                        <div id="collapseE" class="accordion-collapse collapse" aria-labelledby="sectionEHeader" data-bs-parent="#answerAccordion">
                            <div class="accordion-body">
                                <h5 class="main-title"><u>Do you have any other comments to add on?</u></h5>
                                <h6 class="sub-title" style="word-wrap: break-word">{{customerData.comment2}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <spacing></spacing>

                <!-- Three-Option Slider for APPROVAL -->
                <div class="container-fluid">
                    <div class="align-items-center" style="display: flex">
                        <i class="bi bi-check-circle     pb-2 fa-lg me-2"></i>
                        <h3 class="ml-3 big-title"><b>Image Approval:</b></h3>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Confirm Approval Status:</h5>
                            <div class="btn-group">
                                <!-- Approve Button -->
                                <input type="radio" @click="toggleStatus(1)" v-bind:checked="approveChecked" :disabled="customerData.approveRejectStatus == 1" class="btn-check" name="options" id="approveStatus" autocomplete="off">
                                <label class="btn btn-outline-success" for="approveStatus">Approve</label>
                                <button v-if="isLoading" class="btn btn-outline-success" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                            
                                <!-- Pending Button -->
                                <input type="radio" @click="toggleStatus(0)" v-bind:checked="pendingChecked" :disabled="customerData.approveRejectStatus == 1" class="btn-check" name="options" id="pendingStatus" autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="pendingStatus">Set to Pending</label>
                                <button v-if="isLoading" class="btn btn-outline-secondary" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>

                                <!-- Reject Button -->
                                <input type="radio" @click="toggleStatus(2)" v-bind:checked="rejectChecked" :disabled="customerData.approveRejectStatus == 1" class="btn-check" name="options" id="rejectStatus" autocomplete="off">
                                <label class="btn btn-outline-danger" for="rejectStatus">Reject</label>
                                <button v-if="isLoading" class="btn btn-outline-danger" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                            
                            </div>
                            <h6 v-if="customerData.approveRejectStatus == 1" class="mt-2" style="color:green">Review already APPROVED!</h6>
                            <h6 v-if="customerData.approveRejectStatus == 2" class="mt-2" style="color:red">Review already REJECTED!</h6>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </body>
</html>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Variables to control and extract the ID from the URL
    const customerResponseURL = "https://alpha.returnlegacy.com/rlportalapi/api/campaign/moxi/review"
    const currentURL = location.href
    const customerID = parseInt(currentURL.split("=")[1])

    var mainApp = Vue.createApp({
        data() {
            return {
                customerData : {},
                customerAge: "",
                customerGender: "",
                customerSkinType: "",
                customerState: "",
                ageRangeList: ["19 and below / 以下", "20 - 29", "30 - 39", "40 - 49", "50 and above / 以上"],
                genderList: ["Male", "Female"],
                skinTypeList: ["Normal / 中性", "Oily / 油性", "Dry / 干性", "A Combination of the above / 混合", "Sensitive / 敏感"],
                stateList: ["Singapore", "Johor", "Kedah", "Kelantan", "Kuala Lumpur", "Labuan", "Melaka", "Negeri Sembilan", "Pahang", "Perak", "Perlis", "Pulau Pinang", "Putrajaya", "Sabah", "Sarawak", "Selangor", "Terengganu"],
                formattedDate: "",
                approvedChecked: false,
                pendingChecked: false,
                rejectChecked: false,
                deliveryAddress: "",
                deliveryAddressCont: "",
                notSelfC: false,
                isLoading: false,

            }   
        },
        methods: {
            extractData: async function() {
                await axios.get(`${customerResponseURL}/id/${customerID}`)
                .then (res => {
                    debugger
                    this.customerData = res.data[0]
                    this.customerAge = this.ageRangeList[(this.customerData.age -1)]
                    this.customerGender = this.genderList[(this.customerData.gender - 1)]
                    this.customerSkinType = this.skinTypeList[(this.customerData.skinType - 1)]
                    this.customerState = this.stateList[this.customerData.stateId]

                    console.log(this.customerData)

                    // Variables to format the date
                    const retrieveDate = new Date(this.customerData.reviewDate)
                    const options = {month: 'long', day: 'numeric', year : 'numeric'}
                    this.formattedDate = retrieveDate.toLocaleDateString('en-US', options)
                    
                    switch(this.customerData.approveRejectStatus) {
                        case 0:
                            this.pendingChecked = true
                            break;
                        case 1:
                            this.approveChecked = true
                            break;
                        case 2:
                            this.rejectChecked = true
                            break;
                    }
                    switch(this.customerData.deliveryType) {
                        case 2:
                            this.deliveryAddress = "SELF-COLLECT"
                            this.notSelfC = false
                            break;
                        default:
                            this.deliveryAddress = this.customerData.delAddress1
                            this.deliveryAddressCont = this.customerData.delAddress2
                            this.notSelfC = true
                            break;
                    }
                    })
                
            },
            toggleStatus: async function(status_index) {
                this.isLoading = true
                console.log(status_index)
                this.customerData.approveRejectStatus = status_index
                console.log(this.customerData.approveRejectStatus)
                await axios.put(customerResponseURL, this.customerData)
                .then (res => {
                    if (res.data.success == 0) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Action Unsuccessful!',
                            text: 'Please check your Internet Connection, or if the error persists, make a report to the IT staff.',
                        })
                    }
                    else {
                        if (res.data.docNo == null) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Change Updated Successfully!',
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Change Updated Successfully!',
                                text: `Invoice number: ${res.data.docNo}`
                            })
                        }
                    }
                    
                    console.log(res.data.success)
                    console.log(res.data.message)
                    this.isLoading = false
                    this.extractData()
                })
                // this.extractData()
            },
        },
        mounted() {
            this.extractData()
        }
    });

    mainApp.component("sectionALine", {
        name: "section-a-Line",
        data() {
            return {
                conditionList: ["I have Dull Skin", "I have an Uneven Skin Tone", "I have Dark Spots on my Face", "I have Freckles", "I have Blemishes on my Skin", "I have Dehydrated Skin", "I have an Uneven Skin Texture", "I have Acne-Prone Skin", "I have a Fine-Lines problem", "I have a Redness and/or Sensitivity issue"],
            }
        },
        props: {
            index: {type: Number, default: 0},
            ans: {type: Number, default: 0},
        },
        template:`
            <div class="d-flex align-items-center gap-2">
                <div class="d-flex justify-content-start align-items-center mr-2">
                    <div>
                        <h6 class="sub-title">{{this.conditionList?.[this.index]}}</h6>
                    </div>
                </div>
                <div class="text-left">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-bind:checked="hasCondition" value="" id="isCompanyCheck" style="opacity: 1.0" disabled>
                    </div>
                </div>
            </div>
        `,
        computed: {
            hasCondition: function() {
                switch (this.ans) {
                    case 0:
                        return false
                        break;
                    case 1:
                        return true
                        break;
                }
            },
        }
    })

    mainApp.component("sectionBLine", {
        name: "section-b-line",
        data() {
            return {
                responseGrade: ["Same as before", "Slight improvement", "Large improvement"],
                questionArray: ["Skin Radiance", "Skin Fairness", "Skin Pigmentation", "Skin Tone Evenness", "Skin Smoothness", "Skin Hydration", "Skin Open-Pores Issues", "Skin Impurities Issues (eg. Blackheads)", "Skin Fine Line", "Acne/Pimple Issues", "Skin Redness"]
            }
        },
        props: {
            sequence: { type: Number, required: true },
            answer: { type: Number, required: true }
        },
        template:`
            <h5 class="main-title">Question {{ sequence + 1 }} : {{ questionArray?.[sequence] }}</h5>
            <h6 class="sub-title">{{ responseGrade?.[(answer - 1)] }} </h6>
        `,
    })

    mainApp.component("spacing", {
        name: "spacing",
        template:`
            <br/><hr/><br/>
        `,
        mounted() {           
        }
    });

    // mainApp.component("responseList", {
    //     name: "response-list",
    //     props: {
    //         seq: {type: Number, default: 1},
    //         ans: {type: Number, default: 0}
    //     },
    //     methods: {
    //         alertMe: function() {
    //             alert("Component mounted")
    //         }
    //     },
    //     computed: {
    //         question() {
    //             switch(this.seq) {
    //                 case 1:
    //                     return "question 1"
    //                 case 2:
    //                     return "question 2"
    //                 default:
    //                     return null
    //             }
    //         },
    //         answer() {
    //             switch(this.ans) {
    //                 case 0:
    //                     return "Same as before"
    //                 case 1:
    //                     return "Slightly better"
    //                 case 2:
    //                     return "Much better"
    //             }
    //         }
    //     },
    //     template:`
    //         <h6>{{question}} --- {{answer}}</h6>
    //     `,
    //     mounted() {
    //         // alert('aaa')
    //         // this.alertMe()
    //     }
    // })

    mainApp.mount("#mainApp")
</script>